# Ignore node_modules and dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Ignore local environment variables
.env
.env.local
.env.development
.env.production

# Ignore build artifacts
build
dist

# Ignore IDE/editor files
.vscode
.idea
.DS_Store

# Ignore logs
logs
*.log

# Ignore Git files
.git
.gitignore